html, body{
    height: 100%;
    margin: 0;
}

header nav{
    display: flex;
    justify-content: center;
    background-color: #febd16;
   
}

header nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
   

}

.wrapper{
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Images/george-pastushok-383925-unsplash.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Images/george-pastushok-383925-unsplash.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Images/george-pastushok-383925-unsplash.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Images/george-pastushok-383925-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    min-height:100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.intro-banner{
    width: auto;
}

.intro-banner-info{
    text-align: center;
    font-size: 35px;
    color: white;
}

.intro-banner-info button{

    font-size: 28px;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    color: white;
    background-color: #febd16;
}

.intro-banner-info button:hover{

    font-size: 28px;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.logo {
    text-align: center;
}