html, body{
    height: 100%;
    margin: 0;
}

h2, h3, h4, p, button, h1{
    font-family: Montserrat;
}

header nav{
    display: flex;
    justify-content: center;
    background-color: #febd16;
   
}

header nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Montserrat;
   

}

/*========================Main Section=========================*/

.bg-wrapper{
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Images/george-pastushok-383925-unsplash.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Images/george-pastushok-383925-unsplash.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Images/george-pastushok-383925-unsplash.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Images/george-pastushok-383925-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    min-height:100%;
    align-items: center;
    justify-content: center;
    
    
}


.intro-banner{
    width: auto;

}

.intro-banner-info{
    text-align: center;
    font-size: 30px;
    color: white;
}

button{

    font-size: 24px;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    color: white;
    background-color: #febd16;
}

button:hover{

    color: white;
    background-color: black;
}
.logo {
    text-align: center;
}

/*========================First Section=========================*/

.spotlight-wrapper{
    background-color: #febd16;
    text-align: center;
    display: flex;
    justify-content: center;  

}

.info-header-section1{
    margin-top: 75px;
}

.spotlight-wrapper #one{
    width: 60em;
}

.spotlight-wrapper #one h3{
    font-size: 25px;
}
.spotlight-wrapper #one p{
    font-size: 20px;
}

.separator{
    border: 1px dotted #36454f;

}

.img-row{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 75px;
}

.img-row img{
    width: 25%;
      height: 35%;
      border-radius: 20px;
      padding: 10px;
      border: 1px dotted white;
      margin-left: 4px;
      margin-right: 4px;
}

/*=====================Second Section - Staggered Rows============================*/
#content{
    width: 60%;
    text-align: center;
    color: white;
    height: 100%;
}
#iframe{
    width: 40%;
    height: 100%;
    
    
}


.row-stagger-wrapper-left iframe{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#pic-content{
    width: 40%;
    
    
}

.row-stagger-wrapper-right img, .row-stagger-wrapper-left img{
    width: 100%;
    height: 400px;
    object-fit:cover;
}



.row-stagger-wrapper-left{
    background-color: #212b31 ;
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.row-stagger-wrapper-right{
    background-color: #171d22;
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
}

/*=====================Third Section - Bullet Point Table============================*/

.row-bullet-points-table-wrapper{
    background: #febd16;
    
}


.row-bullet-points-table-wrapper #make{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.row-bullet-points-table-wrapper .bullet{
    min-width:33%;
    text-align: center;
}






